    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Registra tu usuario.</h5>					

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Nombre</label>
							<div class="cols-sm-7" style="display:inline-block">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" #nombre class="form-control" name="name" id="name"  placeholder="Introduce tu nombre (mínimo 3 caracteres)" 
										(keypress)="controlNameKeypress($event);" (keyup)="testNombre();">
									<img #imgNombre id="nombre-icono" class="icono" src="">
								</div>							
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Correo electrónico</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" #email class="form-control" name="email" id="email"  placeholder="Introduce tu dirección de correo electrónico"/>
									<img id="email-icono" class="icono" src="../../../assets/no.png">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Nombre de jugador</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Indica tu nombre de jugador"/>
									<img id="jugador-icono" class="icono" src="../../../assets/no.png">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Introduce una contraseña"/>
									<img id="password-icono" class="icono" src="../../../assets/no.png">
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirma la contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Vuelve a introducir la misma contraseña"/>
									<img id="password-confirm-icono" class="icono" src="../../../assets/no.png">
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button (click)="registra()" id="button" class="btn btn-primary btn-lg btn-block login-button" [disabled]="!verificaFormulario()">Registrar</button>
						</div>

					
				</div>
			</div>
		</div>
